<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>first-vuejs</title>

    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css"
    /> -->
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but first-vuejs doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- <script src="https://cdn.onemap.sg/leaflet/onemap-leaflet.js"></script> -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr0qGCIRWXa4qRelT0rWLafkqIt1E0ISM"></script>
  </body>
</html>
