<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <GoogleMap />
  </div>
</template>

<script>
// @ is an alias to /src
// import OneMap from '../components/OneMap.vue'
// import HelloWorld from '@/components/HelloWorld.vue'
import GoogleMap from '../components/GoogleMap.vue'

export default {
  name: 'home',
  components: {
    GoogleMap
  }
}
</script>
