<template>
  <div>
    <div id="map"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      google: null,
      map: null
    }
  },

  name: 'GoogleMap',
  mounted() {
    this.initMap()
  },
  methods: {
    initMap() {
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 1.362233, lng: 103.825741 },
        zoom: 12
      })

      // var styleArray = [
      //   {
      //     featureType: 'all',
      //     elementType: 'labels.text',
      //     stylers: [
      //       {
      //         visibility: 'off'
      //       }
      //     ]
      //   },
      //   {
      //     featureType: 'road',
      //     stylers: [
      //       {
      //         visibility: 'off'
      //       }
      //     ]
      //   },
      //   {
      //     featureType: 'all',
      //     elementType: 'labels.icon',
      //     stylers: [
      //       {
      //         visibility: 'off'
      //       }
      //     ]
      //   },
      //   {
      //     featureType: 'landscape',
      //     elementType: 'geometry.fill',
      //     stylers: [
      //       {
      //         color: '#f1efe8'
      //       }
      //     ]
      //   },
      //   {
      //     featureType: 'landscape.man_made',
      //     elementType: 'geometry.fill',
      //     stylers: [
      //       {
      //         visibility: 'on'
      //       },
      //       {
      //         gamma: '1.19'
      //       }
      //     ]
      //   },
      //   {
      //     featureType: 'landscape.man_made',
      //     elementType: 'geometry.stroke',
      //     stylers: [
      //       {
      //         visibility: 'on'
      //       },
      //       {
      //         gamma: '0.00'
      //       },
      //       {
      //         weight: '0.68'
      //       }
      //     ]
      //   },
      //   {
      //     featureType: 'road.highway',
      //     elementType: 'geometry.fill',
      //     stylers: [
      //       {
      //         color: '#b2ac83'
      //       }
      //     ]
      //   },
      //   {
      //     featureType: 'road.highway',
      //     elementType: 'geometry.stroke',
      //     stylers: [
      //       {
      //         color: '#b2ac83'
      //       }
      //     ]
      //   },
      //   {
      //     featureType: 'water',
      //     elementType: 'geometry.fill',
      //     stylers: [
      //       {
      //         color: '#8ac0c4'
      //       }
      //     ]
      //   },
      //   {
      //     featureType: 'transit.line',
      //     elementType: 'geometry.fill',
      //     stylers: [
      //       {
      //         visibility: 'off'
      //       },
      //       {
      //         color: '#0091f2'
      //       },
      //       {
      //         weight: 2
      //       }
      //     ]
      //   }
      // ]

      var styleArray = [
        {
          featureType: 'road',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'administrative',
          elementType: 'labels',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'administrative.country',
          elementType: 'geometry.stroke',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'administrative.province',
          elementType: 'geometry.stroke',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            {
              visibility: 'on'
            },
            {
              color: '#e3e3e3'
            }
          ]
        },
        {
          featureType: 'landscape.natural',
          elementType: 'labels',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'poi',
          elementType: 'all',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'road',
          elementType: 'all',
          stylers: [
            {
              color: '#cccccc'
            }
          ]
        },
        {
          featureType: 'road',
          elementType: 'labels',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'transit',
          elementType: 'labels.icon',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'transit.line',
          elementType: 'geometry',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'transit.line',
          elementType: 'labels.text',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'transit.station.airport',
          elementType: 'geometry',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'transit.station.airport',
          elementType: 'labels',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'water',
          elementType: 'geometry',
          stylers: [
            {
              color: '#FFFFFF'
            }
          ]
        },
        {
          featureType: 'water',
          elementType: 'labels',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        }
      ]

      this.map.setOptions({ styles: styleArray })

      //setting overlay color, etc.
      this.map.data.setStyle({
        fillColor: 'white',
        strokeWeight: 2,
        strokeColor: '#448CCB',
        fillOpacity: 1
      })

      this.map.data.loadGeoJson(
        'https://bitbucket.org/mahcyen/publicfiles/raw/bc5374ae5787044cdfcf9d100ef67fc92430d37e/src/assets/singapore.json'
      )

      var mbsCoordinate = { lat: 1.2833965, lng: 103.8607526 }
      var sentosaCoordinate = { lat: 1.2489641, lng: 103.8303209 }
      var gardensByTheBayCoordinate = { lat: 1.2815683, lng: 103.8636132 }
      var merlionCoordinate = { lat: 1.2867892, lng: 103.8545014 }
      var ussCoordinate = { lat: 1.2540421, lng: 103.8238084 }
      var singaporeFlyerCoordinate = { lat: 1.2892988, lng: 103.8631368 }
      var nightSafariCoordinate = { lat: 1.4021872, lng: 103.7880606 }

      // new google.maps.Marker({
      //   position: mbsCoordinate,
      //   map: this.map,
      //   title: 'Marina Bay Sands'
      // })

      // new google.maps.Marker({
      //   position: sentosaCoordinate,
      //   map: this.map,
      //   title: 'Sentosa'
      // })

      // new google.maps.Marker({
      //   position: gardensByTheBayCoordinate,
      //   map: this.map,
      //   title: 'Gardens By The Bay'
      // })

      // new google.maps.Marker({
      //   position: merlionCoordinate,
      //   map: this.map,
      //   title: 'Merlion'
      // })

      // new google.maps.Marker({
      //   position: ussCoordinate,
      //   map: this.map,
      //   title: 'Universal Studio Singapore'
      // })

      // new google.maps.Marker({
      //   position: singaporeFlyerCoordinate,
      //   map: this.map,
      //   title: 'Singapore Flyer'
      // })

      // new google.maps.Marker({
      //   position: nightSafariCoordinate,
      //   map: this.map,
      //   title: 'Night Safari'
      // })

      var shapes = []
      var path = [
        new google.maps.LatLng(1.401609422446899, 103.78395290692163),
        new google.maps.LatLng(1.404655498255403, 103.78352375347924),
        new google.maps.LatLng(1.4054277421959438, 103.78485412915063),
        new google.maps.LatLng(1.4054277421959438, 103.78601284344506),
        new google.maps.LatLng(1.4049987178160466, 103.78691406567407),
        new google.maps.LatLng(1.405341937326272, 103.78738613446069),
        new google.maps.LatLng(1.4063286931371477, 103.78781528790307),
        new google.maps.LatLng(1.406500302800807, 103.78837318737817),
        new google.maps.LatLng(1.406071278618002, 103.78905983288598),
        new google.maps.LatLng(1.4072725461310758, 103.78957481701684),
        new google.maps.LatLng(1.4077015700929718, 103.79047603924585),
        new google.maps.LatLng(1.4075299605176812, 103.79240722973657),
        new google.maps.LatLng(1.4070151317160615, 103.7924501450808),
        new google.maps.LatLng(1.4058138640704605, 103.7912056000979),
        new google.maps.LatLng(1.4054706446295966, 103.79193516094995),
        new google.maps.LatLng(1.4052346812347487, 103.79242868740869),
        new google.maps.LatLng(1.4056422543563452, 103.79294367153955),
        new google.maps.LatLng(1.4062857907192579, 103.79343719799829),
        new google.maps.LatLng(1.4063715955542488, 103.79470320065332),
        new google.maps.LatLng(1.405985473771981, 103.79534693081689),
        new google.maps.LatLng(1.4056637055712886, 103.79577608425927),
        new google.maps.LatLng(1.4053848397615023, 103.79605503399682),
        new google.maps.LatLng(1.405191778796745, 103.79618378002954),
        new google.maps.LatLng(1.4048914617087604, 103.79626961071801),
        new google.maps.LatLng(1.4042479249616622, 103.79560442288232),
        new google.maps.LatLng(1.4038832540596415, 103.79506798107934),
        new google.maps.LatLng(1.4036472905044937, 103.79534693081689),
        new google.maps.LatLng(1.403475680631236, 103.79590483029199),
        new google.maps.LatLng(1.4037545466688772, 103.79646272976709),
        new google.maps.LatLng(1.4043766323252518, 103.79747124035669),
        new google.maps.LatLng(1.404097766361832, 103.79783602078271),
        new google.maps.LatLng(1.4034971318660898, 103.79796476681543),
        new google.maps.LatLng(1.4033040707454087, 103.79779310543847),
        new google.maps.LatLng(1.4028750459757156, 103.79682751019311),
        new google.maps.LatLng(1.4023816673933347, 103.79678459484887),
        new google.maps.LatLng(1.4019097399563452, 103.79684896786523),
        new google.maps.LatLng(1.4014807149310624, 103.79684896786523),
        new google.maps.LatLng(1.4012876536440384, 103.79654856045556),
        new google.maps.LatLng(1.4011803973665926, 103.79622669537378),
        new google.maps.LatLng(1.4013949099165737, 103.79566879589868),
        new google.maps.LatLng(1.4016952274535253, 103.79530401547265),
        new google.maps.LatLng(1.4007299209477209, 103.79463882763696),
        new google.maps.LatLng(1.4010302385699243, 103.79382343609643),
        new google.maps.LatLng(1.4016523249506, 103.79348011334253),
        new google.maps.LatLng(1.4027248872877585, 103.79294367153955),
        new google.maps.LatLng(1.4033898756899, 103.79257889111352),
        new google.maps.LatLng(1.4035400343351867, 103.79187078793359),
        new google.maps.LatLng(1.4036258392710266, 103.79101248104882),
        new google.maps.LatLng(1.4034113269255297, 103.79118414242578),
        new google.maps.LatLng(1.4030037534148878, 103.79191370327783),
        new google.maps.LatLng(1.4026176310761502, 103.79212827999902),
        new google.maps.LatLng(1.4016523249506, 103.79253597576928),
        new google.maps.LatLng(1.4007942747271525, 103.7925574334414),
        new google.maps.LatLng(1.3999576754567231, 103.79225702603173),
        new google.maps.LatLng(1.3997431627751944, 103.79193516094995),
        new google.maps.LatLng(1.3997860653130803, 103.79111976940942),
        new google.maps.LatLng(1.4002365419133833, 103.79043312390161),
        new google.maps.LatLng(1.4001936393837542, 103.78987522442651),
        new google.maps.LatLng(1.4001292855878347, 103.78961773236108),
        new google.maps.LatLng(1.399979126723815, 103.78951044400048),
        new google.maps.LatLng(1.3993141373532583, 103.79043312390161),
        new google.maps.LatLng(1.399056722062434, 103.79045458157373),
        new google.maps.LatLng(1.3988207580210172, 103.79032583554101),
        new google.maps.LatLng(1.3986062452355226, 103.79011125881982),
        new google.maps.LatLng(1.3985418913960421, 103.78951044400048),
        new google.maps.LatLng(1.3990352707869198, 103.78882379849267),
        new google.maps.LatLng(1.4000005779906906, 103.78824444134546),
        new google.maps.LatLng(1.400493957074683, 103.787622168854),
        new google.maps.LatLng(1.400987336054824, 103.78687115032983),
        new google.maps.LatLng(1.4018239349575683, 103.78699989636254),
        new google.maps.LatLng(1.4013305561536429, 103.78635616619897),
        new google.maps.LatLng(1.401244751133658, 103.78596992810083),
        new google.maps.LatLng(1.4016308736988512, 103.78551931698632),
        new google.maps.LatLng(1.4015450686898585, 103.7851545365603),
        new google.maps.LatLng(1.401416361170498, 103.78498287518335),
        new google.maps.LatLng(1.4013091048989423, 103.7845966370852),
        new google.maps.LatLng(1.4015665199423961, 103.78395290692163)
      ]
      var polyline = new google.maps.Polygon({
        path: path,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2,
        fillColor: '#FF0000'
      })
      polyline.setMap(this.map)
      shapes.push(polyline)

      var shapes = []
      var path = [
        new google.maps.LatLng(1.2805730748666928, 103.87109756469727),
        new google.maps.LatLng(1.2844315736169027, 103.86680500555622),
        new google.maps.LatLng(1.2862335645517247, 103.86199848700153),
        new google.maps.LatLng(1.2871774640574736, 103.86032478857624),
        new google.maps.LatLng(1.2873061775993797, 103.85839359808551),
        new google.maps.LatLng(1.2861906600204451, 103.85830776739704),
        new google.maps.LatLng(1.284946428299472, 103.85813610602008),
        new google.maps.LatLng(1.280870492558269, 103.85538952398883),
        new google.maps.LatLng(1.2836592913986407, 103.8542308096944),
        new google.maps.LatLng(1.2862764690822917, 103.85487453985797),
        new google.maps.LatLng(1.2884216946902518, 103.85483162451374),
        new google.maps.LatLng(1.2866626098249019, 103.85204212713825),
        new google.maps.LatLng(1.2886362171517445, 103.84989635992633),
        new google.maps.LatLng(1.2894514023406005, 103.84886639166461),
        new google.maps.LatLng(1.279669162891343, 103.84054081488239),
        new google.maps.LatLng(1.27610807521755, 103.84071247625934),
        new google.maps.LatLng(1.2722037445120191, 103.84238617468463),
        new google.maps.LatLng(1.2724182683307308, 103.8463773016988),
        new google.maps.LatLng(1.2730618396797833, 103.85157005835163),
        new google.maps.LatLng(1.2755503140506244, 103.8536729102193),
        new google.maps.LatLng(1.2763731422444622, 103.8565183909252),
        new google.maps.LatLng(1.275421599918, 103.85942356634723),
        new google.maps.LatLng(1.275507409340458, 103.86212723303424),
        new google.maps.LatLng(1.2775668346206293, 103.86345760870563),
        new google.maps.LatLng(1.279926590724494, 103.86526005316364),
        new google.maps.LatLng(1.2801064855956856, 103.86686609885919),
        new google.maps.LatLng(1.2796262582499656, 103.86877911139118),
        new google.maps.LatLng(1.2798407814496395, 103.87023823309528),
        new google.maps.LatLng(1.279926590724494, 103.87066738653766)
      ]
      var polyline = new google.maps.Polygon({
        path: path,
        strokeColor: '#7F00FF',
        strokeOpacity: 1.0,
        strokeWeight: 2,
        fillColor: '#7F00FF'
      })
      polyline.setMap(this.map)
      shapes.push(polyline)

      var shapes = []
      var path = [
        new google.maps.LatLng(1.238403598351335, 103.83326896820722),
        new google.maps.LatLng(1.241492779600435, 103.84116539154707),
        new google.maps.LatLng(1.2474995105771094, 103.84717353974042),
        new google.maps.LatLng(1.253849468411498, 103.848718492133),
        new google.maps.LatLng(1.2541927089374167, 103.84236702118574),
        new google.maps.LatLng(1.2550508100552353, 103.83756050263105),
        new google.maps.LatLng(1.2547075696418828, 103.83309730683027),
        new google.maps.LatLng(1.2550508100552353, 103.826745835883),
        new google.maps.LatLng(1.2593413114171166, 103.82176765595136),
        new google.maps.LatLng(1.261229129780254, 103.81678947601972),
        new google.maps.LatLng(1.260542650533814, 103.81404289398847),
        new google.maps.LatLng(1.2608858901796478, 103.80906471405683),
        new google.maps.LatLng(1.2603710306939193, 103.80528816376386),
        new google.maps.LatLng(1.2553940504235257, 103.80614647064863)
      ]
      var polyline = new google.maps.Polygon({
        path: path,
        strokeColor: '#AAFF00',
        strokeOpacity: 1.0,
        strokeWeight: 2,
        fillColor: '#AAFF00'
      })
      polyline.setMap(this.map)
      shapes.push(polyline)
    }
  }
}
</script>

<style scoped>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
#map {
  width: 100%;
  height: 100%;
  position: fixed !important;
}
</style>
