<template>
  <div>
    <h1>Singapore Map</h1>
    <div id="mapdiv" class="map"></div>
  </div>
</template>

<script>
export default {
  name: 'OneMap',
  mounted() {
    this.initializeMap()
  },
  computed: {
    map() {
      var center = L.bounds([1.56073, 104.11475], [1.16, 103.502]).getCenter()

      return L.map('mapdiv').setView([center.x, center.y], 12)
    }
  },
  methods: {
    initializeMap() {
      var basemap = L.tileLayer(
        'https://maps-{s}.onemap.sg/v3/Default/{z}/{x}/{y}.png',
        {
          detectRetina: true,
          maxZoom: 18,
          minZoom: 11
        }
      )

      this.map.setMaxBounds([
        [1.56073, 104.1147],
        [1.16, 103.502]
      ])

      basemap.addTo(this.map)

      this.getLocation()
    },
    getLocation() {
      if (navigator.geolocation) {
        var position = {
          coords: {
            latitude: '1.348041',
            longitude: '103.870471'
          }
        }
        navigator.geolocation.getCurrentPosition(this.showPosition(position))
      }
    },
    showPosition(position) {
      console.log(position)

      new L.Marker([position.coords.latitude, position.coords.longitude], {
        bounceOnAdd: false
      }).addTo(this.map)

      L.popup()
        .setLatLng([position.coords.latitude, position.coords.longitude])
        .setContent('You are here!')
        .openOn(this.map)
    }
  }
}
</script>

<style scoped>
.map {
  width: 100%;
  height: 1000%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
</style>
